* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.header-section {
    min-height: 700px;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 14rem;
}

.background-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(47%);
    margin-top: -1.3rem;
    overflow: hidden;
}

.netflix-logo img {
    margin-top: 0.7rem;
    width: 9.5rem;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0);
    margin-left: 12rem;
}

.text-container {
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    font-style: normal;
}

.text-bigger {
    font-size: 2.35rem;
    font-weight: 400;
}

.language-button {
    display: flex;
    background-color: rgba(74, 62, 62, 0.653);
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
    height: auto;
    width: auto;
    max-height: 2rem;
}

.email-button {
    display: flex;
    background-color: rgba(74, 62, 62, 0.653);
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 0.25rem 0.5rem;
    font-size: 16px;
    height: 3.5rem;
    width: 25rem;
}

.loggin-button {
    background-color: red;
    border: 1px red;
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 16px;
    height: 2rem;
    width: 6rem;
    margin-left: 1.5rem;
}

.get-start-button {
    display: flex;
    background-color: red;
    border: 1px red;
    border-radius: 6px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
    height: 3.5rem;
    width: 12rem;
}

.e-post-and-get-start-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.white-color {
    color: white;
}

.separator {
    border: none;
    border-top: 0.5rem solid #342e2e;
    margin-top: -2.7rem;
    position: absolute;
    width: 100%;
    top: 100%;
}

.first-header-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.second-header {
    display: flex;
    position: relative;
    margin-top: 12rem;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width : 960px) {
    .header-section {
        min-height: 800px;
    }

    .netflix-logo img {
        margin-top: 1rem;
        width: 8.5rem;
        height: 2rem;
        background: rgba(0, 0, 0, 0);
        margin-left: 5rem;
    }

    .header-content {
        margin-right: 6rem;
    }
}

@media (max-width: 780px) {
    .second-header {
        align-items: flex-start;
    }
}

@media (max-width: 690px) {
    .header-section {
        min-height: 900px;
    }

    .display {
        display: none;
    }

    .netflix-logo img {
        margin-top: 0.7rem;
        width: 5rem;
        height: 2rem;
        background: rgba(0, 0, 0, 0);
        margin-left: 2rem;
    }

    .header-content {
        margin-right: 2rem;
    }
}

@media (max-width: 460px) {
    .email-button {
        height: 3.5rem;
        width: auto;
    }

    .get-start-button {
        height: auto;
        width: auto;
    }
}

@media (max-width: 265px) {

    .background-image-container {
        width: 400%;
        height: 105%;
    }

    .separator {
        margin-top: 1.9rem;
        width: 400%;
    }

    .separator2 {
        width: 400%;
    }
}