main {
    margin-top: 3rem;
    margin-bottom: -27rem;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
    color: white;
}

.text-main {
    font-size: 1.7rem;
    max-width: 50%;
    text-align: left;
    padding-right: 3rem;
}

.netflix-image-container {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.size {
    max-width: 100%;
    height: auto;
}

.separator2 {
    border: none;
    border-top: 0.5rem solid #342e2e;
    margin-top: 32rem;
}

@media (max-width: 1383px) {
    .main-section {
        flex-direction: column;
    }
}

@media (max-width: 736px) {
    .main-section {
        flex-direction: column;
    }

    .size {
        max-width: 95%;
    }
}