* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background: black;
}

main {
    margin-top: 3rem;
    margin-bottom: -27rem;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: white;
}

.first-main {
    font-size: 1.7rem;
    max-width: 50%;
    text-align: left;
    padding-right: 3rem;
}

.image-container-netflix {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.image-container-netflix img {
    max-width: 100%;
    height: auto;
}

.separator2 {
    border: none;
    border-top: 0.5rem solid #342e2e;
    margin-top: 32rem;
}